{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block page_header %}Welcome back, {{ current_nom }}{% endblock %}

{% block content %}
<div class="stats-cards">
    <div class="stat-card">
        <p class="stat-label">Overall GPA</p>
        <h2>-- / 20</h2>
    </div>
    <div class="stat-card">
        <p class="stat-label">Attendance</p>
        <h2>-- %</h2>
    </div>
    <div class="stat-card">
        <p class="stat-label">Last 5 Grades</p>
        <p>A venir</p>
    </div>
</div>
{% endblock %}
