{% extends "base.html" %}
{% block title %}Modifier l'annonce{% endblock %}
{% block page_header %}Modifier l'annonce{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}
<div class="form-card" style="max-width: 600px;">
    <form method="POST">
        <label>Titre</label>
        <input type="text" name="titre" value="{{ annonce[1] }}" required>

        <label>Contenu</label>
        <textarea name="contenu" rows="4" required>{{ annonce[2] }}</textarea>

        <button type="submit" class="btn-submit-small" style="margin-top: 15px;">Enregistrer les modifications</button>
    </form>
</div>
{% endblock %}
